@page "/"

<div class="top-row px-4 shadow-1">
    @*<button class="btn btn-primary" @onclick="AddObjectExecute">Add Object</button>*@
    <span class="ml-md-auto"> </span>
</div>

<div class="content">
    <div class="editor-outer" ondragover="event.preventDefault();" @ondrop="HandleDrop">

        <div class="article-catalog shadow-2 p-2">
            <div class="row g-1">
                @foreach (var item in _catalogItems)
                {
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <img src="@item.ImageUrl" draggable="true"
                                 @ondragstart="() => DragImage = item" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="right-side">
            <EditorView @ref="EditorView" Items="@_items" @bind-SelectedItem="SelectedItem" CurrentActionChanged="OnCurrentActionChanged">
                <DragItemTemplate>
                    <image href="@context.ImageUrl" width="100%" height="100%" />

                </DragItemTemplate>
            </EditorView>
        </div>

        

        @if (SelectedItem != null)
        {
            <div class="editor-detail-view shadow-1 noselect" style="left: @(DetailPosition.X)px; top: @(DetailPosition.Y)px;">

                @if (_selectedItem?.DataModel?.AvailableArticles?.Any() ?? false)
                {
                    <div class="article-information">

                        <div class="sub-header">Variants:</div>
                        @foreach (var article in _selectedItem.DataModel.AvailableArticles)
                        {
                            <button class="btn-color" style="background-color: @article.ColorHexCode;" @onclick="() => SwitchArticleForSelectedItem(article)"> </button>
                        }

                    </div>
                }

                <div>

                    <button class="btn btn-warning" @onclick="RotateSelectedItem"><i class="fas fa-sync-alt"></i></button>
                    <span> </span>
                    <button class="btn btn-warning" @onclick="ScaleAddSelectedItem"><i class="fas fa-expand-alt"></i></button>
                    <span> </span>
                    <button class="btn btn-danger" @onclick="RemoveSelectedItem"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        }
    </div>



</div>